<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

<!--    <h2 class="footer-heading">{{ site.title | escape }}</h2>-->
    <div>
        <p>{{- site.description | escape -}}</p>
        <nav id="footer-nav">
            <ul>
                <li><u><a href="https://www.cdlib.org/about/privacy.html">Privacy Policy</a></u></li>
                <li><u><a href="https://www.cdlib.org/about/accessibility.html">Accessibility Policy</a></u></li>
                <li><u><a href="mailto:gsdn@cdlib.org">Contact Us</a></u></li>
            </ul>
        </nav>
    </div>      
<!--
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>
-->

  </div>

</footer>
